<ion-view class="searchPark">
  <ion-header-bar align-title="center">
    <button class="button" ui-sref="app.sharePark">
      <img src="img/back.png">
    </button>
    <h2 class="title">收支明细</h2>
  </ion-header-bar>
  <ion-content class="ion-content" scrollbar-y="false" overflow-scroll="false">
    <div class="myInOut">
      <header>
        <div class="headCard">
          <div class="headCard-time">
            <h3>时间范围</h3>
            <a href="" ng-click="choiceDate($event)">
              {{dateName}}
              <img src="img/pullDoenWhite.png" alt="">
            </a>
          </div>
          <div class="headCard-out">
            <h3>支出(元)</h3>
            <p>{{income}}</p>
          </div>
          <div class="headCard-in">
            <h3>收入(元)</h3>
            <p>{{expend}}</p>
          </div>
          <div class="headCard-type">
            <h3>收入类别</h3>
            <a href="" ng-click="choiceIncome($event)">
              {{incomeCategoryName}}
              <img src="img/pullDoenWhite.png" alt="">
            </a>
          </div>
        </div>
      </header>
      <content class="inoutList">
        <ul>
            <li ng-repeat="item in inOutList">
              <div class="inoutListContent">
                <div>
                  <h3>{{item.name}}</h3>
                  <p>{{item.date}}</p>
                </div>
                <h2>{{item.type==1?'+':'-'}}{{item.money}}</h2>
              </div>
            </li>
        </ul>
      </content>
    </div>
  </ion-content>
</ion-view>
<script id="datePopover" type="text/ng-template">
  <ion-popover-view>
    <div class="alerBg" ng-click="closedatePopover()"></div>
    <div class="checkCharge">
      <div class="checkChargeLead">
        <div class="optionList">
          <label class="item item-radio" ng-click="suredatePopover(option)" ng-repeat="option in dateOptions">
            <input name="radio-group" ng-value="option" ng-model="option" type="radio"/>
            <span class="leader">
               {{option.name}}
            </span>
          </label>
        </div>
      </div>
    </div>
  </ion-popover-view>
</script>
<script id="incomePopover" type="text/ng-template">
  <ion-popover-view>
    <div class="alerBg" ng-click="closeIncomePopover()"></div>
    <div class="checkCharge">
      <div class="checkChargeLead">
        <div class="optionList">
          <label class="item item-radio" ng-click="sureIncomePopover(option)" ng-repeat="option in incomeOptions">
            <input name="radio-group" ng-value="option" ng-model="option" type="radio"/>
            <span class="leader">
               {{option.name}}
            </span>
          </label>
        </div>
      </div>
    </div>
  </ion-popover-view>
</script>
